machine:
  java:
    version: openjdk8
version: 2
jobs:
  build:
    working_directory: ~/flightsearch
    docker:
      - image: python:3.6.0
    steps:
      - checkout
      - run:
          name: Run Tests
          command: mvn test
